body{
    margin: 0px;
    padding: 0px;
}
h1, h3, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*::selection{
    background-color: rgb(221, 221, 221);;
}
a{
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 0.5s;
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: rgba(211, 211, 211);
}
#header h1{
    font-weight: normal;
    font-size: 50px;
    padding: 250px 0 0 30%;
}
#header h3{
    font-weight: lighter;
    padding-left: 30%;
}
#body{
    width: 100%;
    padding-top: 500px;
    font-weight: lighter;
}
#letter{
    height: fit-content;
    width: 1000px;
    background-color: rgba(211, 211, 211, 0.214);
    margin: 0 auto 0 auto;
}
#letterheading{
    width: 690px;
    margin: 0 0 20px 53px;
    padding-top: 100px;
}
#send{
    width: 100px;
    float: left;
    text-align: right;
    
}
#send h3{
    font-weight: lighter;
}
#receive{
    width: 150px;
    float: left;
    padding-left: 30px;
}
#receive h3{
    font-weight: lighter;
}
#letterbody{
    width: 690px;
    line-height: 23px;
    padding: 120px 0 100px 0;
    margin: 0 auto 0 auto;
    text-transform: lowercase;
}
#playlist{
    margin: 200px 0 0 0;
}
#playlist img{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: auto;
    margin-bottom: auto;
}
#bodyline{
    height: 1px;
    background-color: rgba(211, 211, 211, 0.391);
    border: none;
    margin: 160px 0 100px 0;
}
.playlistname{
    padding-left: 35%;
    font-weight: lighter;
}
.playlistbio{
    padding: 0 7% 0 35%;
    font-size: smaller;
}
.year{
    margin-left: 5%;
    float: left;
    width: 100px;
}
#placeholder{
    visibility: hidden;
}
#aboutme p{
    padding-left: 20%;
}
#footer{
    margin: 100px 0 0 0;
    width: 100%;
}
#inspiration{
    text-align: center;
    padding: 0 0 30px 0;
}